.card {
  margin-bottom: 2rem;

  &.bg-primary-light {
    background-color: var(--bs-linen);
    @extend .border-0;

    .card-body {
      color: var(--bs-body-color);
    }
  }

  &.dark {
    background-color: rgba($gray-800, 0.8);
    @extend .border-0;
    .card-body {
      color: var(--bs-body-color);
    }
  }
  &.darker {
    background-color: $gray-900;
    @extend .border-0;
    .card-body {
      color: var(--bs-body-color);
    }
  }
  &.simple-card{
    min-height: 11rem;
    p{
      font-weight: 200;
      margin-bottom: 0.5rem;
    }
    h3{
      font-weight: 400;
      margin-bottom: 0;
    }

  }
}

.seprator-left {
  border-left: 1px solid var(--bs-gray-200);
}

.morning-text {
  height: calc(100vh - 18rem);
  display: flex;
  justify-content: center;
  align-items: center;

  .big-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    font-size: 4.6rem;
    font-weight: 200;
    margin-bottom: 1.4rem;
    span{
        font-weight: 400;
    }
    img {
      width: 5rem;
    }

  }
  .info-bar{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    p{
      padding: 0 1.8rem;
      &:not(:last-child){
        border-right: 1px solid;
      }
    }
  }
}


// Customer Header //

.page-header{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  .page-geader-title{
    p{
      margin-bottom: 0;
    }
  }
  .page-header-rightbar{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    .icons-list{
      @extend .d-flex, .align-items-center, .gap-3;
      button{
        @extend .d-inline-flex, .align-items-center, .justify-content-center;
        border-radius: 50%;
        height: 4.2rem;
        width: 4.2rem;
        text-align: center;
        background-color: var(--bs-gray-900);
        color: var(--bs-white);
        svg{
          font-size: 2rem;
        }
      }
    }
    .search-form{
      .search-container{
        margin-right: 0;
        input{
          background-color: var(--bs-gray-900);
        }
      }
      
    }
  }
}