.header {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  justify-content: flex-end;

  .header-icons {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    text-align: center;
    background-color: var(--bs-gray-800);

    img {
      max-width: 2.4rem;
    }
  }

  .left-header,
  .right-header {
    display: flex;
    align-items: center;
    gap: 2.6rem;
    margin-right: 2.6rem;
  }
}

.img-circle {
  @extend .rounded-circle, .overflow-hidden;
  width: 4rem;
  flex-shrink: 0;
  img{
    object-fit: cover;
  }
}

.profile-view {
  gap: 1rem;
  width: 100%;

  .profile-description {
    h4 {
      font-size: 1.4rem;
      font-weight: 400;
      max-width: 16rem;
      margin-bottom: 0.2rem;
      @extend .text-truncate;
    }

    p {
      font-size: 1.3rem;
      color: var(--bs-gray-500);
      margin-bottom: 0;
      max-width: 16rem;
      @extend .text-truncate;
    }
  }

  &::after {
    content: none;
  }
}

.profile-drop {
  width: 100%;
  max-width: fit-content;
}

.dropdown-card {
  padding: 0;
  background: transparent;

  .profile-dropdown {
    background: var(--bs-primary);
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    width: 30rem;
    overflow: hidden;

    .image-box {
      @extend .rounded-circle, .overflow-hidden;
      width: 8.4rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: -4rem;
    }
    .bg-shine{
      background-color: var(--bs-gray-800);
      height: 8rem;
      width: 100%;
    }
    .wrap-dropdown{
      padding: 1rem;
    }

    .status-indicator {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      background-color: $light-green;
      padding: 0.3rem 0.8rem;
      border-radius: 0.4rem;

      .status-dot {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: orange;

        &.available {
          background-color: $green;
        }
      }

      .status-text {
        font-size: 1.2rem;
        color: $green;

      }
    }

    .edit-button {
      border: none;
      background: none;
      color: var(--bs-white);
      cursor: pointer;
      padding: 0.4rem;
    }

    .profile-info {
      text-align: center;
      margin-bottom: 2.5rem;
      margin-top: -4.5rem;

      .name {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 0 0 0.4rem;
      }

      .email {
        margin: 0 0  0.4rem;
        font-size: 1.3rem;
        color: var(--bs-gray-500);
        font-weight: 400;
      }

      .role {
        margin: 0;
        font-weight: 400;
        font-size: 1.3rem;
        color: var(--bs-gray-500);
      }
      
    }

    .action-buttons {
      display: flex;
      justify-content: space-around;
      margin: 0 0 3.8rem;

      .action-button {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color:var(--bs-gray-900) ;
      }
    }

    .profile-footer {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 300;
      color: var(--bs-gray-500);

      .version,
      .company,
      .vat {
        margin: 0.4rem 0;
      }
    }
  }

}