.site-wrapper {
  min-height: 100vh;
  @extend .d-flex;
  background-image: url('./images/bg-frame-new.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .main-wrapper {
    flex: 1;
    padding: 0 1.6rem;

    .content-area {
      height: calc(100vh - 8rem);
      overflow-y: auto;
      padding-right: 1rem;
    }
  }
}

.main-content {
  width: 100%;
  height: calc(100vh - 10rem);
  overflow-y: auto;
}