.site-wrapper {
  min-height: 100vh;
  @extend .d-flex;
  background-image: url('./images/bg-image.png');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .main-wrapper {
    flex: 1;
    padding: 0 1.6rem;
  }
}

.main-content {
width: 100%;
height: calc(100vh - 10rem);
overflow-y: auto;
}